{% extends 'base.html' %}
{% load static %}
{% block title %}升级{% endblock %}
{% block css %}

{% endblock %}


{% block breadcrumb %}
    <section class="content-header">
    <h1>
        升级
        <small>Upgrade</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-address-card"></i>主页</a></li>
        <li>升级</li>
        <li class="active">展示页</li>
    </ol>
    </section>
{% endblock %}


{% block content %}
{% endblock %}


{% block script %}
    
{% endblock %}